* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.head-banner {
    display: flex;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    gap: 50px;
    /* border: 2px solid red; */
}
.head-banner-info{
    
}

.head-banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 540;
}

.head-banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 5px;
}
.head-banner-img{
    padding-top: 170px;
}